<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
            turbo_method: :delete,
            turbo_confirm: "In order to delete comment, please contact the administrator"
          } %>

    <%= link_to "Edit Comment", [comment.article, comment], data: {
        turbo_method: :edit,
        turbo_confirm: "In order to edit an comment, please contact the administrator"
      } %>
  </p>
<% end %>
