<!--I dont think file does anything..-->


<h1>Comment TEST</h1>


  <p>
    <strong>Commenter:</strong>
    <%#= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%#= comment.body %>
  </p>