 <br><br><br>

  <div class="footer l-box is-center">
    Copyright &copy; 2022 <a href="http://timjedrek.com">Tim Jedrek LLC</a>
  </div>

<!--My normal year JS script isn't working here
<script>document.write(new Date().getFullYear())</script>
I had to write in the year... ugh
-->