
<!--This file is the original html from the css template-->





            <div class="l-box tj-u-1 tj-u-md-1-2 tj-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box tj-u-1 tj-u-md-1-2 tj-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box tj-u-1 tj-u-md-1-2 tj-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box tj-u-1 tj-u-md-1-2 tj-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg tj-g">
        <div class="l-box-lrg is-center tj-u-1 tj-u-md-1-2 tj-u-lg-2-5">
            <img width="300" alt="File Icons" class="tj-img-responsive" src="/img/common/file-icons.png">
        </div>
        <div class="tj-u-1 tj-u-md-1-2 tj-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="tj-g">
            <div class="l-box-lrg tj-u-1 tj-u-md-2-5">
                <form class="tj-form tj-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="tj-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg tj-u-1 tj-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>




<!--  **From articles/index.html.erb**
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <%# @articles.each do |article| %>
    <%# unless article.archived? %>
      <tr>
        <td><%#= article.title %></td>
        <td><%#= article.text %></td>
        <td><%#= link_to 'Show', article_path(article) %></td>
      </tr>
     <%# end %>
  <% end %>
</table>

<%#= link_to "New Article", new_article_path %>

-->


<!--Above was from original tutorial.  
Below is the from new version of tutorial

<h1>Articles</h1>

<ul>
  <%# @articles.each do |article| %>
    <li>
      <%#= link_to article.title, article %>
    </li>
  <%# end %>
</ul>

<%#= link_to "New Article", new_article_path %>


I like the old version better so i am keeping it and just commenting this out for now
-->



<!-- **From articles/_form.html.erb**
**Commenting out this status selector.  This was part of the tutorial but I don't want to use this feature for now.**


<div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>
-->

<!-- **from comments/_form.html.erb
**Commenting out this status selector.  This was part of the tutorial but I don't want to use this feature for now.**
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>
-->



<!--Keeping comment previous code for future reference-->

<!--
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text %><br>
    <% @article.errors.full_messages_for(:text).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


-->


<!-- **From articles/new.html.erb
I disontinued the tutorial the other day and it seems like either what I wrote was malarky or they updated everything and now it's hard to continue using the previous code.  It looks like instead of ul and li, they just use divs in the new one.  meh,.  They also changed text to body and also f to form

<h1>New Article</h1>


<%= form_for :article, url: articles_path do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>

-->

   <!-- ***From articles/index.html.erb
     <div class="content">
    
        <h2 class="content-head is-center">Welcome to my Ruby on Rails blog application project</h2>

        <div class="tj-g">
            <div class="tj-u-1-1">
                <%#= link_to 'My Blog', controller: 'articles' %>
                <%#= link_to 'New article', new_article_path, class: 'test' %>
                <%#= render 'articles/wholelist'%>
            </div>
        </div>
    </div>
    <br><br><br>
-->

<!--
<h1 >Listing articles</h1>
-->
<!--put an anchor-->
 <!--Our blog has <%#= Article.public_count %> articles and counting!-->


