/*timjedrek responsive start*/

@media screen and (min-width: 35.5em) {
    .tj-u-sm-1, .tj-u-sm-1-1, .tj-u-sm-1-12, .tj-u-sm-1-2, .tj-u-sm-1-24, .tj-u-sm-1-3, .tj-u-sm-1-4, .tj-u-sm-1-5, .tj-u-sm-1-6, .tj-u-sm-1-8, .tj-u-sm-10-24, .tj-u-sm-11-12, .tj-u-sm-11-24, .tj-u-sm-12-24, .tj-u-sm-13-24, .tj-u-sm-14-24, .tj-u-sm-15-24, .tj-u-sm-16-24, .tj-u-sm-17-24, .tj-u-sm-18-24, .tj-u-sm-19-24, .tj-u-sm-2-24, .tj-u-sm-2-3, .tj-u-sm-2-5, .tj-u-sm-20-24, .tj-u-sm-21-24, .tj-u-sm-22-24, .tj-u-sm-23-24, .tj-u-sm-24-24, .tj-u-sm-3-24, .tj-u-sm-3-4, .tj-u-sm-3-5, .tj-u-sm-3-8, .tj-u-sm-4-24, .tj-u-sm-4-5, .tj-u-sm-5-12, .tj-u-sm-5-24, .tj-u-sm-5-5, .tj-u-sm-5-6, .tj-u-sm-5-8, .tj-u-sm-6-24, .tj-u-sm-7-12, .tj-u-sm-7-24, .tj-u-sm-7-8, .tj-u-sm-8-24, .tj-u-sm-9-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering:auto
    }

    .tj-u-sm-1-24 {
        width:4.1667%
    }

    .tj-u-sm-1-12, .tj-u-sm-2-24 {
        width:8.3333%
    }

    .tj-u-sm-1-8, .tj-u-sm-3-24 {
        width:12.5%
    }

    .tj-u-sm-1-6, .tj-u-sm-4-24 {
        width:16.6667%
    }

    .tj-u-sm-1-5 {
        width:20%
    }

    .tj-u-sm-5-24 {
        width:20.8333%
    }

    .tj-u-sm-1-4, .tj-u-sm-6-24 {
        width:25%
    }

    .tj-u-sm-7-24 {
        width:29.1667%
    }

    .tj-u-sm-1-3, .tj-u-sm-8-24 {
        width:33.3333%
    }

    .tj-u-sm-3-8, .tj-u-sm-9-24 {
        width:37.5%
    }

    .tj-u-sm-2-5 {
        width:40%
    }

    .tj-u-sm-10-24, .tj-u-sm-5-12 {
        width:41.6667%
    }

    .tj-u-sm-11-24 {
        width:45.8333%
    }

    .tj-u-sm-1-2, .tj-u-sm-12-24 {
        width:50%
    }

    .tj-u-sm-13-24 {
        width:54.1667%
    }

    .tj-u-sm-14-24, .tj-u-sm-7-12 {
        width:58.3333%
    }

    .tj-u-sm-3-5 {
        width:60%
    }

    .tj-u-sm-15-24, .tj-u-sm-5-8 {
        width:62.5%
    }

    .tj-u-sm-16-24, .tj-u-sm-2-3 {
        width:66.6667%
    }

    .tj-u-sm-17-24 {
        width:70.8333%
    }

    .tj-u-sm-18-24, .tj-u-sm-3-4 {
        width:75%
    }

    .tj-u-sm-19-24 {
        width:79.1667%
    }

    .tj-u-sm-4-5 {
        width:80%
    }

    .tj-u-sm-20-24, .tj-u-sm-5-6 {
        width:83.3333%
    }

    .tj-u-sm-21-24, .tj-u-sm-7-8 {
        width:87.5%
    }

    .tj-u-sm-11-12, .tj-u-sm-22-24 {
        width:91.6667%
    }

    .tj-u-sm-23-24 {
        width:95.8333%
    }

    .tj-u-sm-1, .tj-u-sm-1-1, .tj-u-sm-24-24, .tj-u-sm-5-5 {
        width:100%
    }
}

@media screen and (min-width: 48em) {
    .tj-u-md-1, .tj-u-md-1-1, .tj-u-md-1-12, .tj-u-md-1-2, .tj-u-md-1-24, .tj-u-md-1-3, .tj-u-md-1-4, .tj-u-md-1-5, .tj-u-md-1-6, .tj-u-md-1-8, .tj-u-md-10-24, .tj-u-md-11-12, .tj-u-md-11-24, .tj-u-md-12-24, .tj-u-md-13-24, .tj-u-md-14-24, .tj-u-md-15-24, .tj-u-md-16-24, .tj-u-md-17-24, .tj-u-md-18-24, .tj-u-md-19-24, .tj-u-md-2-24, .tj-u-md-2-3, .tj-u-md-2-5, .tj-u-md-20-24, .tj-u-md-21-24, .tj-u-md-22-24, .tj-u-md-23-24, .tj-u-md-24-24, .tj-u-md-3-24, .tj-u-md-3-4, .tj-u-md-3-5, .tj-u-md-3-8, .tj-u-md-4-24, .tj-u-md-4-5, .tj-u-md-5-12, .tj-u-md-5-24, .tj-u-md-5-5, .tj-u-md-5-6, .tj-u-md-5-8, .tj-u-md-6-24, .tj-u-md-7-12, .tj-u-md-7-24, .tj-u-md-7-8, .tj-u-md-8-24, .tj-u-md-9-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering:auto
    }

    .tj-u-md-1-24 {
        width:4.1667%
    }

    .tj-u-md-1-12, .tj-u-md-2-24 {
        width:8.3333%
    }

    .tj-u-md-1-8, .tj-u-md-3-24 {
        width:12.5%
    }

    .tj-u-md-1-6, .tj-u-md-4-24 {
        width:16.6667%
    }

    .tj-u-md-1-5 {
        width:20%
    }

    .tj-u-md-5-24 {
        width:20.8333%
    }

    .tj-u-md-1-4, .tj-u-md-6-24 {
        width:25%
    }

    .tj-u-md-7-24 {
        width:29.1667%
    }

    .tj-u-md-1-3, .tj-u-md-8-24 {
        width:33.3333%
    }

    .tj-u-md-3-8, .tj-u-md-9-24 {
        width:37.5%
    }

    .tj-u-md-2-5 {
        width:40%
    }

    .tj-u-md-10-24, .tj-u-md-5-12 {
        width:41.6667%
    }

    .tj-u-md-11-24 {
        width:45.8333%
    }

    .tj-u-md-1-2, .tj-u-md-12-24 {
        width:50%
    }

    .tj-u-md-13-24 {
        width:54.1667%
    }

    .tj-u-md-14-24, .tj-u-md-7-12 {
        width:58.3333%
    }

    .tj-u-md-3-5 {
        width:60%
    }

    .tj-u-md-15-24, .tj-u-md-5-8 {
        width:62.5%
    }

    .tj-u-md-16-24, .tj-u-md-2-3 {
        width:66.6667%
    }

    .tj-u-md-17-24 {
        width:70.8333%
    }

    .tj-u-md-18-24, .tj-u-md-3-4 {
        width:75%
    }

    .tj-u-md-19-24 {
        width:79.1667%
    }

    .tj-u-md-4-5 {
        width:80%
    }

    .tj-u-md-20-24, .tj-u-md-5-6 {
        width:83.3333%
    }

    .tj-u-md-21-24, .tj-u-md-7-8 {
        width:87.5%
    }

    .tj-u-md-11-12, .tj-u-md-22-24 {
        width:91.6667%
    }

    .tj-u-md-23-24 {
        width:95.8333%
    }

    .tj-u-md-1, .tj-u-md-1-1, .tj-u-md-24-24, .tj-u-md-5-5 {
        width:100%
    }
}

@media screen and (min-width: 64em) {
    .tj-u-lg-1, .tj-u-lg-1-1, .tj-u-lg-1-12, .tj-u-lg-1-2, .tj-u-lg-1-24, .tj-u-lg-1-3, .tj-u-lg-1-4, .tj-u-lg-1-5, .tj-u-lg-1-6, .tj-u-lg-1-8, .tj-u-lg-10-24, .tj-u-lg-11-12, .tj-u-lg-11-24, .tj-u-lg-12-24, .tj-u-lg-13-24, .tj-u-lg-14-24, .tj-u-lg-15-24, .tj-u-lg-16-24, .tj-u-lg-17-24, .tj-u-lg-18-24, .tj-u-lg-19-24, .tj-u-lg-2-24, .tj-u-lg-2-3, .tj-u-lg-2-5, .tj-u-lg-20-24, .tj-u-lg-21-24, .tj-u-lg-22-24, .tj-u-lg-23-24, .tj-u-lg-24-24, .tj-u-lg-3-24, .tj-u-lg-3-4, .tj-u-lg-3-5, .tj-u-lg-3-8, .tj-u-lg-4-24, .tj-u-lg-4-5, .tj-u-lg-5-12, .tj-u-lg-5-24, .tj-u-lg-5-5, .tj-u-lg-5-6, .tj-u-lg-5-8, .tj-u-lg-6-24, .tj-u-lg-7-12, .tj-u-lg-7-24, .tj-u-lg-7-8, .tj-u-lg-8-24, .tj-u-lg-9-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering:auto
    }

    .tj-u-lg-1-24 {
        width:4.1667%
    }

    .tj-u-lg-1-12, .tj-u-lg-2-24 {
        width:8.3333%
    }

    .tj-u-lg-1-8, .tj-u-lg-3-24 {
        width:12.5%
    }

    .tj-u-lg-1-6, .tj-u-lg-4-24 {
        width:16.6667%
    }

    .tj-u-lg-1-5 {
        width:20%
    }

    .tj-u-lg-5-24 {
        width:20.8333%
    }

    .tj-u-lg-1-4, .tj-u-lg-6-24 {
        width:25%
    }

    .tj-u-lg-7-24 {
        width:29.1667%
    }

    .tj-u-lg-1-3, .tj-u-lg-8-24 {
        width:33.3333%
    }

    .tj-u-lg-3-8, .tj-u-lg-9-24 {
        width:37.5%
    }

    .tj-u-lg-2-5 {
        width:40%
    }

    .tj-u-lg-10-24, .tj-u-lg-5-12 {
        width:41.6667%
    }

    .tj-u-lg-11-24 {
        width:45.8333%
    }

    .tj-u-lg-1-2, .tj-u-lg-12-24 {
        width:50%
    }

    .tj-u-lg-13-24 {
        width:54.1667%
    }

    .tj-u-lg-14-24, .tj-u-lg-7-12 {
        width:58.3333%
    }

    .tj-u-lg-3-5 {
        width:60%
    }

    .tj-u-lg-15-24, .tj-u-lg-5-8 {
        width:62.5%
    }

    .tj-u-lg-16-24, .tj-u-lg-2-3 {
        width:66.6667%
    }

    .tj-u-lg-17-24 {
        width:70.8333%
    }

    .tj-u-lg-18-24, .tj-u-lg-3-4 {
        width:75%
    }

    .tj-u-lg-19-24 {
        width:79.1667%
    }

    .tj-u-lg-4-5 {
        width:80%
    }

    .tj-u-lg-20-24, .tj-u-lg-5-6 {
        width:83.3333%
    }

    .tj-u-lg-21-24, .tj-u-lg-7-8 {
        width:87.5%
    }

    .tj-u-lg-11-12, .tj-u-lg-22-24 {
        width:91.6667%
    }

    .tj-u-lg-23-24 {
        width:95.8333%
    }

    .tj-u-lg-1, .tj-u-lg-1-1, .tj-u-lg-24-24, .tj-u-lg-5-5 {
        width:100%
    }
}

@media screen and (min-width: 80em) {
    .tj-u-xl-1, .tj-u-xl-1-1, .tj-u-xl-1-12, .tj-u-xl-1-2, .tj-u-xl-1-24, .tj-u-xl-1-3, .tj-u-xl-1-4, .tj-u-xl-1-5, .tj-u-xl-1-6, .tj-u-xl-1-8, .tj-u-xl-10-24, .tj-u-xl-11-12, .tj-u-xl-11-24, .tj-u-xl-12-24, .tj-u-xl-13-24, .tj-u-xl-14-24, .tj-u-xl-15-24, .tj-u-xl-16-24, .tj-u-xl-17-24, .tj-u-xl-18-24, .tj-u-xl-19-24, .tj-u-xl-2-24, .tj-u-xl-2-3, .tj-u-xl-2-5, .tj-u-xl-20-24, .tj-u-xl-21-24, .tj-u-xl-22-24, .tj-u-xl-23-24, .tj-u-xl-24-24, .tj-u-xl-3-24, .tj-u-xl-3-4, .tj-u-xl-3-5, .tj-u-xl-3-8, .tj-u-xl-4-24, .tj-u-xl-4-5, .tj-u-xl-5-12, .tj-u-xl-5-24, .tj-u-xl-5-5, .tj-u-xl-5-6, .tj-u-xl-5-8, .tj-u-xl-6-24, .tj-u-xl-7-12, .tj-u-xl-7-24, .tj-u-xl-7-8, .tj-u-xl-8-24, .tj-u-xl-9-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering:auto
    }

    .tj-u-xl-1-24 {
        width:4.1667%
    }

    .tj-u-xl-1-12, .tj-u-xl-2-24 {
        width:8.3333%
    }

    .tj-u-xl-1-8, .tj-u-xl-3-24 {
        width:12.5%
    }

    .tj-u-xl-1-6, .tj-u-xl-4-24 {
        width:16.6667%
    }

    .tj-u-xl-1-5 {
        width:20%
    }

    .tj-u-xl-5-24 {
        width:20.8333%
    }

    .tj-u-xl-1-4, .tj-u-xl-6-24 {
        width:25%
    }

    .tj-u-xl-7-24 {
        width:29.1667%
    }

    .tj-u-xl-1-3, .tj-u-xl-8-24 {
        width:33.3333%
    }

    .tj-u-xl-3-8, .tj-u-xl-9-24 {
        width:37.5%
    }

    .tj-u-xl-2-5 {
        width:40%
    }

    .tj-u-xl-10-24, .tj-u-xl-5-12 {
        width:41.6667%
    }

    .tj-u-xl-11-24 {
        width:45.8333%
    }

    .tj-u-xl-1-2, .tj-u-xl-12-24 {
        width:50%
    }

    .tj-u-xl-13-24 {
        width:54.1667%
    }

    .tj-u-xl-14-24, .tj-u-xl-7-12 {
        width:58.3333%
    }

    .tj-u-xl-3-5 {
        width:60%
    }

    .tj-u-xl-15-24, .tj-u-xl-5-8 {
        width:62.5%
    }

    .tj-u-xl-16-24, .tj-u-xl-2-3 {
        width:66.6667%
    }

    .tj-u-xl-17-24 {
        width:70.8333%
    }

    .tj-u-xl-18-24, .tj-u-xl-3-4 {
        width:75%
    }

    .tj-u-xl-19-24 {
        width:79.1667%
    }

    .tj-u-xl-4-5 {
        width:80%
    }

    .tj-u-xl-20-24, .tj-u-xl-5-6 {
        width:83.3333%
    }

    .tj-u-xl-21-24, .tj-u-xl-7-8 {
        width:87.5%
    }

    .tj-u-xl-11-12, .tj-u-xl-22-24 {
        width:91.6667%
    }

    .tj-u-xl-23-24 {
        width:95.8333%
    }

    .tj-u-xl-1, .tj-u-xl-1-1, .tj-u-xl-24-24, .tj-u-xl-5-5 {
        width:100%
    }
}

@media screen and (min-width: 120em) {
    .tj-u-xxl-1, .tj-u-xxl-1-1, .tj-u-xxl-1-12, .tj-u-xxl-1-2, .tj-u-xxl-1-24, .tj-u-xxl-1-3, .tj-u-xxl-1-4, .tj-u-xxl-1-5, .tj-u-xxl-1-6, .tj-u-xxl-1-8, .tj-u-xxl-10-24, .tj-u-xxl-11-12, .tj-u-xxl-11-24, .tj-u-xxl-12-24, .tj-u-xxl-13-24, .tj-u-xxl-14-24, .tj-u-xxl-15-24, .tj-u-xxl-16-24, .tj-u-xxl-17-24, .tj-u-xxl-18-24, .tj-u-xxl-19-24, .tj-u-xxl-2-24, .tj-u-xxl-2-3, .tj-u-xxl-2-5, .tj-u-xxl-20-24, .tj-u-xxl-21-24, .tj-u-xxl-22-24, .tj-u-xxl-23-24, .tj-u-xxl-24-24, .tj-u-xxl-3-24, .tj-u-xxl-3-4, .tj-u-xxl-3-5, .tj-u-xxl-3-8, .tj-u-xxl-4-24, .tj-u-xxl-4-5, .tj-u-xxl-5-12, .tj-u-xxl-5-24, .tj-u-xxl-5-5, .tj-u-xxl-5-6, .tj-u-xxl-5-8, .tj-u-xxl-6-24, .tj-u-xxl-7-12, .tj-u-xxl-7-24, .tj-u-xxl-7-8, .tj-u-xxl-8-24, .tj-u-xxl-9-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering:auto
    }

    .tj-u-xxl-1-24 {
        width:4.1667%
    }

    .tj-u-xxl-1-12, .tj-u-xxl-2-24 {
        width:8.3333%
    }

    .tj-u-xxl-1-8, .tj-u-xxl-3-24 {
        width:12.5%
    }

    .tj-u-xxl-1-6, .tj-u-xxl-4-24 {
        width:16.6667%
    }

    .tj-u-xxl-1-5 {
        width:20%
    }

    .tj-u-xxl-5-24 {
        width:20.8333%
    }

    .tj-u-xxl-1-4, .tj-u-xxl-6-24 {
        width:25%
    }

    .tj-u-xxl-7-24 {
        width:29.1667%
    }

    .tj-u-xxl-1-3, .tj-u-xxl-8-24 {
        width:33.3333%
    }

    .tj-u-xxl-3-8, .tj-u-xxl-9-24 {
        width:37.5%
    }

    .tj-u-xxl-2-5 {
        width:40%
    }

    .tj-u-xxl-10-24, .tj-u-xxl-5-12 {
        width:41.6667%
    }

    .tj-u-xxl-11-24 {
        width:45.8333%
    }

    .tj-u-xxl-1-2, .tj-u-xxl-12-24 {
        width:50%
    }

    .tj-u-xxl-13-24 {
        width:54.1667%
    }

    .tj-u-xxl-14-24, .tj-u-xxl-7-12 {
        width:58.3333%
    }

    .tj-u-xxl-3-5 {
        width:60%
    }

    .tj-u-xxl-15-24, .tj-u-xxl-5-8 {
        width:62.5%
    }

    .tj-u-xxl-16-24, .tj-u-xxl-2-3 {
        width:66.6667%
    }

    .tj-u-xxl-17-24 {
        width:70.8333%
    }

    .tj-u-xxl-18-24, .tj-u-xxl-3-4 {
        width:75%
    }

    .tj-u-xxl-19-24 {
        width:79.1667%
    }

    .tj-u-xxl-4-5 {
        width:80%
    }

    .tj-u-xxl-20-24, .tj-u-xxl-5-6 {
        width:83.3333%
    }

    .tj-u-xxl-21-24, .tj-u-xxl-7-8 {
        width:87.5%
    }

    .tj-u-xxl-11-12, .tj-u-xxl-22-24 {
        width:91.6667%
    }

    .tj-u-xxl-23-24 {
        width:95.8333%
    }

    .tj-u-xxl-1, .tj-u-xxl-1-1, .tj-u-xxl-24-24, .tj-u-xxl-5-5 {
        width: 100%
    }
}

